body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.chat-container {
  max-width: 900px;
  margin: 30px auto;
  overflow: hidden;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.chat-header {
  background: #333;
  color: #fff;
  padding: 10px 20px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.chat-header h1 {
  margin: 0;
}

.username-container {
  padding: 20px;
  text-align: center;
}

.username-container input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  width: 70%;
  margin-right: 10px;
}

.username-container .btn {
  padding: 10px;
  font-size: 16px;
  background: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}

.username-container .btn:hover {
  background: #555;
}

.chat-main {
  display: flex;
}

.chat-sidebar {
  width: 30%;
  background: #f0f0f0;
  padding: 20px;
}
